<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reactive web</title>
</head>
<body>

<h1>Welcome to reactive web</h1>

<p>
    blah blah blah
</p>

<h2>Inventory management</h2>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td>
                <form th:method="post" th:action="@{'/add/' + ${item.id}}">
                    <input type="submit" value="Add to cart"/>
                </form>
            </td>
            <td>
                <form th:method="delete" th:action="@{'/delete/' + ${item.id}}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<h2>My Cart</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cartItemList : ${cart.cartItemList}">
        <td th:text="${cartItemList.id}>"</td>
        <td th:text="${cartItemList.name}"></td>
        <td th:text="${cartItemList.quantity}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>